.icon-bar {
    width: 22px;
    height: 2px;
    display: block;
    border-radius: 1px;
}
.show {
    overflow: auto;
    max-height: 500px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.show::-webkit-scrollbar {
    width: 0px;
    display: none;
    background: transparent;
}
.showMenu {
    display: block;
}
.testimonial-box {
    border: medium none;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
}

.row-title-text {
    font-weight: 400 !important;
}

@media screen and (min-width: 400px) {
    .tooltip .right {
        min-width: 180px !important;
    }
}

@media screen and (min-width: 768px) {
    .showMenu {
        display: none !important;
    }
    .show {
        max-height: unset;
    }
    .tooltip .right {
        min-width: 200px !important;
    }
}

@media screen and (min-width: 1199px) {
    .tooltip .right {
        min-width: 250px !important;
    }
}

.tooltip {
    text-align: left;
    position: relative;
    display: inline-block;
}

.tooltip .right {
    top: 50%;
    left: 85%;
    min-width: 150px;
    margin-left: 20px;
    transform: translate(0, -50%);
    padding: 0;
    font-weight: normal;
    font-size: 13px;
    border-radius: 8px;
    position: absolute;
    z-index: 99999999;
    box-sizing: border-box;
    background-color: #222;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
    display: none;
    opacity: 0;
    transition: opacity 0.8s;
}

.visible {
    display: inline !important;
    opacity: 1 !important;
}

.tooltip .text-content {
    padding: 10px 20px;
}

.tooltip .right i {
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -12px;
    width: 12px;
    height: 24px;
    overflow: hidden;
}

.tooltip .right i::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    left: 0;
    top: 50%;
    transform: translate(50%, -50%) rotate(-45deg);
    background-color: #222;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
}

.lds-dual-ring {
    display: inline-block;
    width: 27px;
    height: 27px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    border: 3px solid #fff;
    animation: lds-dual-ring 1.2s linear infinite;
    border-color: #fff transparent #fff transparent;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
