body {
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
}

.sec-title:after {
  content: "";
  width: 120px;
  display: block;
  margin: 20px auto 0px auto;
  border-bottom: 1px solid #01b3e4;
}

@media only screen and (max-width: 767px) {
  .sec-title:after {
    width: 90px;
  }
}

.item-title:after {
  content: "";
  width: 100px;
  display: block;
  margin: 15px auto 0px auto;
  border-bottom: 1px solid #017a9b;
}

@media only screen and (max-width: 767px) {
  .item-title:after {
    width: 70px;
  }
}

.custom-shadow {
  -webkit-box-shadow: 0 1px 20px 0 rgb(46 61 73 / 20%);
  box-shadow: 0 1px 20px 0 rgb(46 61 73 / 20%);
}

.custom-line {
  height: 30px;
  margin: 0 2.3rem 0 0.5rem;
  border-left: 1px solid rgba(82, 92, 101, 0.4);
}
.custom-line-scrolled-color {
  border-left: 1px solid rgba(255, 255, 255);
}

.icon-bar {
  width: 22px;
  height: 2px;
  display: block;
  border-radius: 1px;
}

.menu-button div.icon-bar {
  width: 28px;
  height: 2px;
  display: block;
  background-color: #222;
  background: linear-gradient(90deg, #01b3e4, #016682);
  margin: 4px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-4px, 3px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-5px, -4px);
}

.nav-menus {
  height: auto;
  transition-property: all;
  transition-duration: 0.5s;
}

@media (max-width: 1023px) {
  .nav-menus {
    height: 0;
    transition-property: all;
    transition-duration: 0.5s;
  }

  .show {
    height: 370px;
    overflow: auto;
    max-height: 500px;
    transition-property: all;
    transition-duration: 0.5s;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  }

  .show::-webkit-scrollbar {
    display: none;
    width: 0px; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }
}

.testimonial-box {
  border: medium none;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
}

.row-title-text {
  font-weight: 400 !important;
}

@media screen and (min-width: 400px) {
  .tooltip .right {
    min-width: 180px !important;
  }
}

@media screen and (min-width: 768px) {
  .showMenu {
    display: none !important;
  }
  .show {
    max-height: unset;
  }
  .tooltip .right {
    min-width: 200px !important;
  }
}

@media screen and (min-width: 1199px) {
  .tooltip .right {
    min-width: 250px !important;
  }
}

.tooltip {
  text-align: left;
  position: relative;
  display: inline-block;
}

.tooltip .right {
  top: 50%;
  left: 85%;
  min-width: 150px;
  margin-left: 20px;
  transform: translate(0, -50%);
  padding: 0;
  font-weight: normal;
  font-size: 13px;
  border-radius: 8px;
  position: absolute;
  z-index: 99999999;
  box-sizing: border-box;
  background-color: #222;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
  display: none;
  opacity: 0;
  transition: opacity 0.8s;
}

.visible {
  display: inline !important;
  opacity: 1 !important;
}

.tooltip .text-content {
  padding: 10px 20px;
}

.tooltip .right i {
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -12px;
  width: 12px;
  height: 24px;
  overflow: hidden;
}

.tooltip .right i::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: 0;
  top: 50%;
  transform: translate(50%, -50%) rotate(-45deg);
  background-color: #222;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
}

.lds-dual-ring {
  display: inline-block;
  width: 27px;
  height: 27px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  border: 3px solid #fff;
  animation: lds-dual-ring 1.2s linear infinite;
  border-color: #fff transparent #fff transparent;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #01b3e4;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.mouse_scroll {
  width: 24px;
  height: 50px;
  left: 50%;
  bottom: 10px;
  position: absolute;
}

.m_scroll_arrows {
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);

  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 3px 4px;

  width: 16px;
  height: 16px;
}

.unu {
  margin-top: 1px;
}

.unu,
.doi,
.trei {
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite;
  animation: mouse-scroll 1s infinite;
}

.unu {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -webkit-animation-direction: alternate;

  animation-direction: alternate;
  animation-delay: alternate;
}

.doi {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-direction: alternate;

  animation-delay: 0.2s;
  animation-direction: alternate;

  margin-top: -6px;
}

.trei {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -webkit-animation-direction: alternate;

  animation-delay: 0.3s;
  animation-direction: alternate;

  margin-top: -6px;
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid white;
  top: 170px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;

  height: 4px;
  width: 4px;
  border: 2px solid #fff;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}
@-o-keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}
@keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}

@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.arrow {
  width: 16px;
  height: 16px;
  margin-left: 2px;
  position: absolute;
  border-right: none;
  border-bottom: none;
  margin-bottom: -10px;
  border-top: 2px #fff solid;
  border-left: 2px #fff solid;
  -webkit-transform: rotate(45deg);
}

.arrow:before {
  left: 50%;
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  border-right: none;
  border-bottom: none;
  margin: 0px 0 0 -7px;
  border-left: 1px #fff solid;
  border-top: 1px #fff solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}

@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(10px, 10px);
  }
}
